<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.AdminMenuMapper">

	<select id="selectNewMenuNo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT NVL(MAX(MENU_NO),0) + 1 AS MENU_NO
		 FROM T_MENU
		WHERE MENU_TYP = #{menuTyp}
	</select>
	
	<insert id="menuInsert">
	MERGE INTO T_MENU
	USING DUAL
	   ON (MENU_TYP = #{menuTyp}
	   	 AND MENU_NO = #{menuNo})
	  WHEN MATCHED THEN
	      UPDATE
	         SET CATEGORY = #{category}
	         , MENU_KOR_NM = #{menuKorNm}
	         , MENU_ENG_NM = #{menuEngNm}
	         , DOC_ID = #{docId}
	         , MENU_DTL = #{menuDtl}
	         , ORIG_AMT = #{origAmt}
	         , SALE_AMT = #{saleAmt}
	         , DEL_YN = #{delYn}
	         , FST_INS_DTE = SYSDATE
	         , LST_MODIFY_DTE = SYSDATE
	 WHEN NOT MATCHED THEN
	      INSERT (
	      			MENU_TYP
	      		  , MENU_NO
	      		  , CATEGORY
    			  , MENU_KOR_NM
				  , MENU_ENG_NM
				  , DOC_ID
				  , MENU_DTL
				  , ORIG_AMT
				  , SALE_AMT
				  , DEL_YN
    			  , FST_INS_DTE
    			  , LST_MODIFY_DTE
		) VALUES (
				  #{menuTyp}
				, #{menuNo}
				, #{category}
				, #{menuKorNm}
				, #{menuEngNm}
				, NVL(#{docId}, '')
				, #{menuDtl}
				, #{origAmt}
				, #{saleAmt}
				, 'N'
				, SYSDATE
				, SYSDATE
			  )
	</insert>
	
	<select id="selectAdminMenuList" parameterType="java.util.Map" resultType="java.util.Map">
	/* 메뉴 목록 조회 - selectAdminMenuList */
		SELECT 
			A.MENU_TYP 
			, A.MENU_NO 
			, A.MENU_KOR_NM 
			, A.MENU_ENG_NM 
			, A.DOC_ID 
			, B.FILE_STOR_PATH
			, F_GET_CMN_CD_DTL_NM('04', A.CATEGORY) AS CATEGORY
		 FROM T_MENU A
		   , T_ATTC_FILE B
		WHERE A.DOC_ID = B.DOC_ID
		 AND A.DEL_YN = 'N'
		 AND B.DEL_YN = 'N'
	</select>
	
	<select id="selectOptList" parameterType="java.util.Map" resultType="java.util.Map">
	/* 메뉴 옵션 목록 조회 - selectOptList */
		SELECT 
			  OPT_NO 
			, OPT_NM 
			, OPT_AMT 
		  FROM T_OPT
		WHERE DEL_YN = 'N'
	</select>
	
	<insert id="saveOpt">
	/* 옵션 저장 - saveOpt */
	MERGE INTO T_OPT
	USING DUAL
	   ON (OPT_NO = #{optNo})
	  WHEN MATCHED THEN
	      UPDATE
	         SET OPT_NM = #{optNm}
	         , OPT_AMT = #{optAmt}
	         , DEL_YN = #{delYn} 
	         , FST_INS_DTE = SYSDATE
	         , LST_MODIFY_DTE = SYSDATE
	 WHEN NOT MATCHED THEN
	      INSERT (  OPT_NO
	      		  , OPT_NM
	      		  , OPT_AMT
				  , DEL_YN
    			  , FST_INS_DTE
    			  , LST_MODIFY_DTE
		) VALUES (
				  #{optNo}
				, #{optNm}
				, #{optAmt}
				, 'N'
				, SYSDATE
				, SYSDATE
			  )
	</insert>
	
	<insert id="saveMenuOpt">
	/* 메뉴에 대한 각각 옵션 저장 - selectOptList */
	MERGE INTO T_MENU_OPT
	USING DUAL
	   ON (MENU_NO = #{menuNo}
	   	 AND OPT_NO = #{optNo})
	  WHEN MATCHED THEN
	      UPDATE
	         SET DEL_YN = #{delYn}
	         , FST_INS_DTE = SYSDATE
	         , LST_MODIFY_DTE = SYSDATE
	 WHEN NOT MATCHED THEN
	      INSERT (
	      			MENU_NO
	      		  , OPT_NO
				  , DEL_YN
    			  , FST_INS_DTE
    			  , LST_MODIFY_DTE
		) VALUES (
				  #{menuNo}
				, #{optNo}
				, 'N'
				, SYSDATE
				, SYSDATE
			  )
	</insert>
	
	<select id="selectDetailMenu" parameterType="java.util.Map" resultType="java.util.Map">
	/* 메뉴 조회 - selectDetailMenu */
		SELECT 
			  A.MENU_NO
			, A.MENU_KOR_NM
			, A.MENU_ENG_NM
			, A.ORIG_AMT
			, A.SALE_AMT
			, A.DOC_ID 
			, B.FILE_STOR_PATH
			, A.CATEGORY
			, A.MENU_DTL
		 FROM T_MENU A
		 	, T_ATTC_FILE B
		WHERE 1 = 1
		  AND A.DOC_ID = B.DOC_ID
		  AND A.MENU_NO = #{menuNo}
		  AND A.MENU_TYP = 1
		  AND A.DEL_YN = 'N'
	</select>
	
	<select id="selectAdminMenuOptList" parameterType="java.util.Map" resultType="java.util.Map">
	/* 메뉴 옵션 조회 - selectAdminMenuOptList */
		SELECT 
			A.OPT_NO 
			, A.OPT_NM 
			, A.OPT_AMT 
			, B.MENU_NO 
		 FROM T_OPT A
		    , T_MENU_OPT B
		WHERE A.OPT_NO = B.OPT_NO
		 AND B.MENU_NO = #{menuNo}
		 AND A.DEL_YN = 'N'
		 AND B.DEL_YN = 'N'
	</select>
</mapper>